footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: navy;
  width: 100%;
  padding: 18px 20px;
}

footer p {
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}